<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/mystyle.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
    <link href="/css/textcolor.css" rel="stylesheet">
    <title>Изменение тарифа</title>
</head>
<style>
    input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: textfield;
        appearance: textfield;
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        display: none;
    }
</style>
<body>

<div th:insert="Blocks/Header" style="margin-top: 120px">...</div>
<div class="bg-ex-animation">
    <div class="wrapper">
        <div class="d-flex flex-column align-items-center justify-content-center mt-3">
            <p class="display-5 p-2">Изменение тарифа</p>
            <form th:action="${'/rate/edit/'+rate.id}"
                  class="form-group" method="post" th:object="${rate}">
                <div class="form-group mt-2">
                    <label class="form-label">Наименование тарифа</label><br>
                    <input th:field="*{nameRate}" type="text" name="nameRate" placeholder="Введите название тарифа" class="form-control"><br>
                    <div class="has-error alert-danger" th:if="*{#fields.hasErrors('nameRate')}" th:errors="*{nameRate}"></div><br>
                </div>
                <div class="form-group mt-2">
                    <label class="form-label">Макс. пропускная способность Мбит/с</label><br>
                    <input th:field="*{maxThroughput}" type="text" name="maxThroughput" placeholder="Введите пропускную способность" class="form-control"><br>
                    <div class="has-error alert-danger" th:if="*{#fields.hasErrors('maxThroughput')}" th:errors="*{maxThroughput}"></div><br>
                </div>
                <div class="form-group mt-2">
                    <label class="form-label">Абонентская плата</label><br>
                    <input th:field="*{subscriptionFee}" type="text" name="subscriptionFee" placeholder="Введите абонентскую плату" class="form-control"><br>
                    <div class="has-error alert-danger" th:if="*{#fields.hasErrors('subscriptionFee')}" th:errors="*{subscriptionFee}"></div><br>
                </div>
                <button type="submit" class="btn btn-dark mt-2">Сохранить</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>