<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/mystyle.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/background.css" rel="stylesheet">
    <link href="/css/textcolor.css" rel="stylesheet">
    <link href="/css/tableStyle.css" rel="stylesheet">
    <title th:value="${employee.user.surname}"></title>
</head>
<body>

<div th:insert="Blocks/Header" style="margin-top: 120px">...</div>
<div class="bg-ex-animation">
    <div class="wrapper">
    <div class="d-flex flex-column align-items-center justify-content-center mt-3">
    <br><br>
    <p class="display-5 p-2">Подробные данные о сотруднике</p>
    <div style="overflow-x:auto;">
    <table>
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Серия паспорта</th>
            <th>Номер паспорта</th>
            <th>Адрес проживания</th>
            <th>Номер телефона</th>
            <th>Должность</th>
            <th>Имя пользователя</th>
        </tr>
        </thead>
        <tbody th:each="empl : ${employee}">
            <tr>
                <td th:text="${empl.user.surname+' '+empl.user.name+' '+empl.user.middlename}"></td>
                <td th:text="${empl.serialpassport}"></td>
                <td th:text="${empl.numberpassport}"></td>
                <td th:text="${empl.address}"></td>
                <td th:text="${empl.numberphone}"></td>
                <td th:text="${empl.post.titlepost}"></td>
                <td th:text="${empl.user.login}"></td>
                <td><a th:href="'/adminEmployee/edit/'+${empl.id}"
                       sec:authorize="isAuthenticated()">Редактировать</a></td>
                <td><a th:href="'/adminEmployee/del/'+${empl.id}"
                       sec:authorize="isAuthenticated()">Удалить</a></td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
    </div>
    <div class="footer">

    </div>
</div>
</body>
</html>