<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/css/mystyle.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/background.css" rel="stylesheet">
  <link href="/css/textcolor.css" rel="stylesheet">
  <title>Изменение тарифа</title>
</head>
<style>
  input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    display: none;
  }
</style>
<body>

<div th:insert="Blocks/Header" style="margin-top: 120px">...</div>
<div class="bg-ex-animation">
  <div class="wrapper">
    <div class="d-flex flex-column align-items-center justify-content-center mt-3">
      <h3>Оплата услуги Интернет</h3>
      <form th:action="${'/personalAccount/replenishment/'+personalAccount.id}"
            class="form-group" method="post" th:object="${personalAccount}">
        <div hidden class="form-group mt-2">
          <label class="form-label">Номер лицевого счета</label><br>
          <input onmousedown="return false" onkeydown="return false" th:field="*{numPersonalAccount}" type="text" name="numPersonalAccount" placeholder="" class="form-control"><br>
          <div class="has-error alert-danger" th:if="*{#fields.hasErrors('numPersonalAccount')}" th:errors="*{numPersonalAccount}"></div><br>
        </div>
        <div hidden class="form-group mt-2">
          <label class="form-label">Пользователь</label>
          <!--      <div style="color: red" th:if="${#fields.hasErrors('clients')}" th:errors="*{clients}"></div>-->
          <select th:field="*{clients}"
                  class="form-select">
            name="author">
            <option th:each="client : ${clients}"
                    th:value="${client.id}"
                    th:text="${client.users.surname+' | Дата рождения - '+client.birthdate}">
            </option>
          </select>
        </div>
        <div hidden class="form-group mt-2">
          <label class="form-label">Тарифы</label>
          <!--      <div style="color: red" th:if="${#fields.hasErrors('clients')}" th:errors="*{clients}"></div>-->
          <select th:field="*{rates}"
                  class="form-select">
            name="author">
            <option th:each="rate : ${rates}"
                    th:value="${rate.id}"
                    th:text="${rate.nameRate + ' | Абонентская плата: ' + rate.subscriptionFee}">
            </option>
          </select>
        </div>
        <table class="table" style="width: 75%" align="center">
          <tr>
            <th>Оплата банковской картой</th>
            <td>
              <div class="form-group mt-2">
              <input id="amount" type="text" name="amount" placeholder="Сумма" class="form-control"><br>
            </div>
            </td>
          </tr>
          <tr>
            <td>
              <button type="submit" class="btn btn-dark">Перейти к оплате</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
</body>
</html>